@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

a {
  color: #1d2597;
}
.page-main {
  position: relative;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: #ffffff;
  color: #ff4754;
  z-index: 10;
  text-align: center;
  font-stretch: expanded;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  overflow: hidden;
  font-size: 9vw;
}

.main-food-img {
  box-shadow: -3px 5px 7px 1px rgba(216, 123, 123, 0.41);
}
.mainall-food-img {
  transition: 0.8s;
  overflow: hidden;
  transform: scale(0.95);
}

.mainall-food-img:hover {
  transform: scale(1);
}
.page-main-allrecipe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.page-main-onerecipe {
  max-width: 300px;
  color: #303334;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.page-main-onerecipe h2 {
  color: #303334;
}

.page-main-onerecipe h2 {
  padding-bottom: 10px;
  text-transform: uppercase;
}

.oneRecipe-heading {
  margin: 2vh;
  font-size: 6vw;
  text-decoration: underline;
  text-decoration-color: #ff4754;
}

@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 700px) {
  .page-main-allrecipe {
    flex-direction: column;
    align-items: center;
  }

  .page-main-onerecipe {
    margin: 20px;
  }
}

.page-cat-category {
  flex-basis: 100%;
  padding: 20px 0;
  text-decoration: underline;
  text-decoration-color: #ff4754;
}

.page-main-allrecipe span {
  color: #1d2597;
}
