@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

a {
  color: #1d2597;
}
.page-main {
  position: relative;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: #ffffff;
  z-index: 10;
  text-align: center;
  font-stretch: expanded;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  overflow: hidden;
  font-size: 9vw;
}

.main-food-img {
  box-shadow: -3px 5px 7px 1px rgba(216, 123, 123, 0.41);
}
.mainall-food-img {
  transition: 0.8s;
  overflow: hidden;
  transform: scale(0.95);
}

.mainall-food-img:hover {
  transform: scale(1);
}
.page-main-allrecipe {
  color: rgb(13, 20, 49);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-main-onerecipe {
  min-width: 250px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  width: 30%;
}
.page-main-onerecipe h2 {
  padding: 10px 0;
  color: #ff4754;
}
.page-main-onerecipe button {
  margin-top: 10px;
  border-radius: 14px;
  border: 1px solid;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 300;
  font-style: normal;
  transition: all 0.3s ease;
  color: #ffffff;
  background-color: #ff4754;
  border-color: #ff4754;
  box-shadow: 9px 10px 17px -10px rgba(255, 71, 84, 0.61);
  -webkit-box-shadow: 9px 10px 17px -10px rgba(255, 71, 84, 0.61);
  -moz-box-shadow: 9px 10px 17px -10px rgba(255, 71, 84, 0.61);
}

.page-main-onerecipe button:hover {
  color: #ff4754;
  background-color: #ffffff;
  border-color: #ff4754;
}

.page-main-onerecipe h2 {
  padding-bottom: 10px;
  text-transform: uppercase;
}

/* @media only screen and (max-width: 960px) {
  .heading {
    position: absolute;
    font-size: 90px;
    z-index: 10;
    text-align: center;
  }
}

@media only screen and (max-width: 770px) {
  .heading {
    position: absolute;
    font-size: 90px;
    z-index: 10;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .heading {
    font-size: 50px;
  }
} */
